@model Models.ModelView.ProductViewModel

<div class="border mt-4 p-3 row">
    <div class="pb-2">
        <h2 class="text-primary">Create Category</h2>
        <hr />
    </div>
    <form method="post" action="Edit" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8">
            <input hidden asp-for="Product.Id" />
            <input hidden asp-for="Product.ImageUrl" />
            <div class="row">
                <div class="mb-3 col-12">
                <label asp-for="Product.Title"></label>
                <input asp-for="Product.Title" class="form-control"/>
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="mb-3 col-12">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" class="form-control" cols="3"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Author"></label>
                <input asp-for="Product.Author" class="form-control"/>
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.ISBN"></label>
                <input asp-for="Product.ISBN" class="form-control"/>
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control"/>
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

        
            <div class="mb-3 col-6">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" asp-items="Model.Categories" class="form-select">
                    <option disabled selected>--Select--</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.CoverTypeId"></label>
                <select asp-for="Product.CoverTypeId" asp-items="Model.CoverTypes" class="form-select">
                    <option disabled selected>--Select--</option>
                </select>
                <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="FormFile"></label>
                <input asp-for="FormFile" class="form-control" onchange="readURL(this)"/>
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            <div class="text-end mt-2">
                <button type="submit" asp-action="Edit" class="btn btn-primary" style="width:150px">Save</button>
                <a asp-action="Index" type="button"  class="btn btn-secondary"    style="width:150px">Back To List</a>
            </div>
            </div>
            
        </div>
            <div class="col-4">
                <img id="selectedImage" src="~/@Model.Product.ImageUrl" style="max-width:inherit"/>
            </div>
        </div>
        
    </form>
    
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>

        <script>
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $('#selectedImage').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
          }
        }
        </script>
    }
}
