@model CoverType

<div class="border mt-4 p-3">
    <div class="pb-2">
        <h2 class="text-primary">Create Cover Type</h2>
        <hr />
    </div>
    <form method="post" action="Create">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="text-end">
            <button type="submit" asp-action="Create" class="btn btn-primary" style="width:150px">Create</button>
            <a asp-action="Index" type="button" asp-controller="Category" class="btn btn-secondary" style="width:150px">Back To List</a>
        </div>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
